<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema_Boomerang.My.MySettings.boomerang" connectionString="Data Source=boomerang.mssql.somee.com;Initial Catalog=boomerang;Persist Security Info=True;User ID=yanzc_SQLLogin_1;Password=imursqu4lm"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>